<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<div class="centered container" id="login-container">
    
    <h1>Login</h1>
	<p id="error" class="more-red" hidden><em>You must enter all the fields!</em></p>
	<p id="ajax-error" class="not-red" hidden>A server error occurred and I've been notified. Please try again later.</p>
	<form action="/login" method="POST">
	    <div class="form-group">
	      <input type="text" id="title-box" name="username" class="form-control" placeholder="Username">
	    </div>
	    <div>
	      <input type="password" id="title-box" name="password" class="form-control" placeholder="Password">
	    </div>
	    <button type="submit" id="submit-login" class="btn btn-dark">Submit</button>
  	</form>
  	
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<% include ./partials/footer %>