html, body {
  margin:0;
  height:100%;
}

body, .bg-nav{
	background-color: #dceaf4;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px 
}

.footer, .push {
  height:50px;
}

.footer{
	/*background-color: #212529;*/
	width: 100vw;
}

.footer p{
	color: #2c3034;
	font-size: 14px;
	/*line-height: 50px;*/
}


* {
	font-family: 'Ubuntu', serif;
	font-weight: 300;
}

/*#1059f2*/ 
/* #3d71f5*/

.more-red{
	color: #c85c04;
}

.not-red{
	color: #fa8624;
}
.off-white{
	color: #dceaf4;
}
.off-blue{
	color: #b1cfe7;
}

table {
  border: hidden;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}


#forum{
	padding: 3% 3% 8% 3%;
}
/*#thread-box{
		border: 1px solid grey;
	border-radius: 8px;
}*/

.grey{
	color: grey;
}

#email-link{
	color: grey;
}

#email-link{
	color: #0d70bc;	
}

#email-link{
	color: #075793;
}

a.thread-link, .list-item{
	color: #dceaf4;
}
a.thread-link:hover,  .list-item:hover{
	color: #0d70bc;
}

a.thread-link:active{
	color: #075793;
}

.list-delete-btn, .list-positive-btn, .list-cancel-btn{
	margin-bottom: 3px;
}

.marked{
	color: #fa8624;
	font-style: italic;
}

.dropdown-menu{
	z-index: 10;
}


#click-box{
	position: relative;
	z-index: 10;
	overflow: visible;
}