body{
	background-color: #05131e;
}

h1{
	color: #dceaf4;
}

#thread-box{
	border: 1px solid grey;
	border-radius: 5px;
	padding: 3% 3% 3% 3%;
}


.list-item{
	color: #dceaf4;
}
.list-item:hover{
	color: #0d70bc;
}

.list-item:active{
	color: #075793;
}


.thread{
	border: 1px solid grey;
	border-radius: 2px;	
	padding: 5px 5px 5px 5px;
	/*margin: 5px 5px 5px 5px;*/
}